/nbproject/private/
/auctionProject-ejb/nbproject/private/
/auctionProject-war/nbproject/private/
/auctionProject-ejb/build/
/auctionProject-ejb/dist/
/auctionProject-war/build/
/auctionProject-war/dist/
/dist/
/build/